a{
    text-decoration: none;
    color: #fff;
}


nav{
    width: 100vw;
    height: 10vh;
    background-color:rgb(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.computer-links ul{
    list-style: none;
    color: #fff;
    display: flex;
    gap: 60px;
    text-transform: uppercase;
    margin-left: 30px;
}

.computer-logo{
    width: 33vw;
    height: 60vh;
    position: relative;
    top: 25px;
    right: 70px;
}

.computer-logo img{
    width: 45vw;
    height: 60vh;  
}


.buttonDiv{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

nav div button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255, 0.4);
    color: #fff;
    background-color: rgb(27, 39, 28, 0.3);
    text-transform:uppercase;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(130, 252, 158, 0.2);
    margin-right: 20px;
}

nav div{
    width: 33vw;
    display: flex;
}

.mobile-img{
    display: none;
}


/* Add these CSS styles for mobile view */
@media (max-width: 768px) {

    .logo {
        display: none;
    }

    .buttonDiv {
        display: none;
    }

    .computer-links{
        display: none;
    }

    .computer-logo{
        display: none;
    }

    .mobile-img {
        display: flex; /* Show the mobile image container */
        width: 100vw;
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-img img {
        width: auto; /* Adjust width as needed */
        height: 50px; /* Set a specific height for the small logo and hamburger icon */
    }

    .mobile-img img:nth-child(1) {
        height: 100px; 
    }

    .mobile-img img:nth-child(2) {
        margin-right: 15px;
    }
}


